body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    padding: 20px;
    width: 98%;
    background-color: #cd5241;
    box-shadow: 0 2px 15px #949494;
    display: inline-block; 
    justify-content: space-between; align-items: center;
}

section, article, aside {
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    height: 100%;
    width: 80%;
    margin: auto;
  }

  .navbar ul {
    display: inline;
  }

.navbar a{
    color: white;
    margin: 0 40px;
    margin-left: 25vh;
    font-weight: bold;
    text-decoration: none;
}

.form-container{
    display: inline-block;
    width: 20px;
    justify-content: center;
    text-align: right;
    padding: 5px
}

.search-bar{
    align-items: right;
    align-items: right;
    padding: 4px 5px;
    border-radius: 3px;
    margin-right: 1.5px;
    transition: 0.25s;
    border-style: none;
    outline: none;
}

.search-button{
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: #830800;
    border-width: 1px;
    border-style: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}

.search-button:hover{
    background-color: #830800;
    color: white;
    box-shadow: 3px 2px 6px #830800;
}

.search-button:active{
    opacity: 0.75;
}