body{
    background-color: #ffffff;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    padding: 20px;
    width: 98%;
    background-color: #cd5241;
    box-shadow: 0 2px 15px #949494;
    display: inline-block; 
}

section, article, aside {
    padding: 20px;
}

.navbar {
    display: flex;
    margin: auto;   
    font-size: 1.2em;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: left;
    padding: 0 40px;
}

.navbar ul {
    margin: auto;
    margin-left: 32vh;
    padding: 0 40px;
    list-style: none;
}

.banner {
    background-image: url('/images/homepage-banner.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    justify-content: center;
    padding: 40px;
    height: 693px;
    width: 100%;
}

.arrow-button {
    justify-content: space-around;
    margin: 12vh 46vh;
    align-items: center;
}
.search-bar{
    align-items: right;
    align-items: right;
    padding: 4px 5px;
    border-radius: 3px;
    margin-right: 1.5px;
    transition: 0.25s;
    border-style: none;
    outline: none;
}

.search-button{
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: #830800;
    border-width: 1px;
    border-style: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}

.search-button:hover{
    background-color: #830800;
    color: white;
    box-shadow: 3px 2px 6px #830800;
}

.search-button:active{
    opacity: 0.75;
}